@model List<CRUD.Models.ReciboModal>
@{
    ViewBag.Title = "Cadastrar Recibo";
}

<div class="container home conteudo_painel">
    <div class="panel panel-primary tela_cadastro_default">
        <div class="panel-heading">
            Buscar Cliente
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()
            <div class="form-group col-md-2">
                @Html.Label("txt_data", "Data", new { @class = "control-label" })
                @Html.TextBox("txt_data", null, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("txt_servico", "Serviço", new { @class = "control-label" })
                @Html.DropDownList("ddl_servico", new SelectList(ViewBag.ListarServico, "Id", "descricao"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                @Html.Label("txt_cliente", "Cliente", new { @class = "control-label" })
                @Html.DropDownList("ddl_cliente", new SelectList(ViewBag.ListarCliente, "Id", "Nome"), new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-12">
                <a id="btn_incluir" role="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Incluir Novo Recibo</a>
                <a id="btn_cancelar" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</a>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div id="msg_aviso" class="alert alert-danger invisivel">Por favor preencha os campos.</div>
        <div id="msg_email" class="alert alert-danger invisivel">Já existe um usuário cadastrado com este email.</div>
        <div id="msg_erro" class="alert alert-danger invisivel">Ops! ocorreu algum erro!</div>
        <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
    </div>
</div>

<input type="hidden" id="txtIdCliente" />


@section Scripts{

    <script type="text/javascript">
        var url_cadastrar_recibo = '@Url.Action("SalvarRecibo", "Recibo")';

        $(document).ready(function () {
            $('#txt_data').mask("00/00/0000", { reverse: true });
        });

    </script>
    <script src="~/Scripts/plugins/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/Scripts/Cadastro/Recibo/cadastro.js"></script>

}

