@model List<CRUD.Models.UsuarioModel>

@{
    ViewBag.Title = "Cadastrar Usuário";

}

<div class="container home conteudo_painel">
  
    <div class="panel panel-primary tela_cadastro_default">

        <div class="panel-heading">
            @ViewBag.Title
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()
            <div class="form-group col-md-6">

                @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })

            </div>
            <div class="form-group col-md-6">

                @Html.Label("txt_email", "Email", new { @class = "control-label" })
                @Html.TextBox("txt_email", null, new { @class = "form-control" })

            </div>

            <div class="form-group  col-md-4">
                @Html.Label("txt_login", "Login", new { @class = "control-label" })
                @Html.TextBox("txt_login", null, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("txt_senha", "Senha", new { @class = "control-label" })
                @Html.Password("txt_senha", null, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.Label("txt_perfil", "Perfil", new { @class = "control-label" })
                @Html.DropDownList("ddl_perfil", new SelectList(ViewBag.ListarPerfil,"Id","Nome"), new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <a id="btn_incluir" role="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok-sign"></span> Incluir Novo Usuário</a>

            </div>
            <div class="col-md-3">
                <a id="btn_cancelar" role="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</a>

            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div id="msg_aviso" class="alert alert-danger invisivel">Por favor preencha os campos.</div>
        <div id="msg_email" class="alert alert-danger invisivel">Já existe um usuário cadastrado com este email.</div>
        <div id="msg_erro" class="alert alert-danger invisivel">Ops! ocorreu algum erro!</div>
        <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        var url_cadastrar_usuario = '@Url.Action("SalvarUsuario", "Usuario")';



    </script>

    <script src="~/Scripts/Cadastro/Usuario/cadastro.js"></script>

}




